<form>
  <div id="id01" class="modalContainer animate-opacity">
    <div class="login-modal-content">
      <header class="login-container login-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="login-button login-display-topright">&times;</span>
        <h2>Log In</h2>
      </header>
      <div class="login-container">
        <input type="email">
        <input type="password">

      </div>

      <footer class="login-container login-teal">
        <p>Have a good Day!</p>
      </footer>
    </div>
  </div>
</form>
